{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
    
        <div class="col-md-8">
        <h3>Detalhes do Cliente</h3>      
           <p><span  class = "font-weigth-bold">Nome: </span>{{cliente.nome_completo}}</p>
           <p><span  class = "font-weigth-bold">Usuario: </span>{{cliente.user.username}}</p>  
           <p><span  class = "font-weigth-bold">Email: </span>{{cliente.user.email}}</p> 
           <p><span  class = "font-weigth-bold">Enderço: </span>{{cliente.endereco}}</p>
           <p><span  class = "font-weigth-bold">Cadastrado em: </span>{{cliente.data_on}}</p>     
    </div>
    <div class="col-md-6">
        <h3> Detalhes da Compras Anteriores</h3>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Pedido ID</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data Pedido</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedido %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    
                    <td><a href="{% url "lojaapp:clientepedidodetalhe" pedido.pk %}"> Pedido_numero_{{ pedido.id }}</td></a>
                    <td>{{ pedido.total }}</td>
                    <td>{{ pedido.criado_em }}</td>
                    <td>{{ pedido.pedido_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div
           
        </div>
           
        
     </div>
    </div> 
   
    
 
    
{% endblock %}
